<div style="margin: 15px;">
    <span>Filter By: </span>
    <input type="text" [(ngModel)]='listFilter' />
            
    <label for="company" style="margin-left: 15px;"> Company:</label>
    <select style="margin-left: 5px;" #t name="company" id="company" (change)="onChange(t.value)">
        <option id="0" value="">All</option>
        <option *ngFor="let company of companies"
                [id]="company.id" 
                [value]="company.name">

            {{company.name}}
        </option>
    </select>
</div>

<br />
<br />

<div class="container">
    <button class="btn btn-success" 
            style="float: right;margin: 15px;"
            (click)="addUser()">Add User</button>
</div>

<br />
<br />

<app-user [users]=filteredUsers></app-user>

<mat-spinner *ngIf="isLoading" style="margin:0 auto;" mode="indeterminate"></mat-spinner>
